//  右侧样式
.navbar-container {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: 11;
}
.appMain-container {
  min-height: calc(100vh - 50px);
  height: calc(100vh - 94px);
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f5f7f9;
  > div {
    &:not(.dashboard-container) {
      padding: 0 10px;
      box-sizing: border-box;
      height: inherit;
      background-color: #fff;
      background-clip: content-box;
    }
  }
}
